.demand1{
    display: flex;
    gap: 2.3rem;
      margin-top: 2rem;
}
.d{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.d img{
    height: 10rem;
    width: 10rem;
    border-radius: 20px;
}
.d button{
    background-color: rgb(74, 175, 120);
    padding: 5px 30px;
    margin: 1rem;
    border: none;
    color: white;
}

footer {
      background-color: #176e3b; /* Green theme */
      color: white;
      text-align: center;
      padding: 15px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
      font-size: 14px;
      box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
      font-family: "Emilys Candy", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
    }

    footer a {
      color: #fff;
      text-decoration: underline;
    }

    footer a:hover {
      color: #f9f9f9;
    }