.demand1{
    display: flex;
    gap: 1rem;
    margin-left: 1rem;
    margin-top: 2rem;
}
.d1{
    display: flex;
    flex-direction: column;
}
.d1 img{
    height: 10rem;
    border-radius: 20px;
}
.d1 button{
    background-color: rgb(74, 175, 120);
    padding: 5px 62px;
    margin: 1rem;
    border: none;
    color: white;
}